@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  background: url('/assets/images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  padding: 2px 10px 2px 10px;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav {
  align-self: right;
  padding: 20px 0px 0px 0px;
}

.nav-item {
  text-decoration: none;
  color: #707070;
  padding: 20px;
  font-family: 'Open Sans', 'Sans-Serif';
  text-transform: uppercase;
}

a:hover {
  color: #B8B8B8;
}

#logo {
  width: 100px;
  height: auto;
}
